#password-maker-form label {
    float: left;
}

.form-control-wrapper {
    overflow: hidden;
}

#password-maker-form label,
.form-control-wrapper {
    padding-left: 5px;
    padding-right: 5px;
}

#password-maker-form .form-group {
    margin-left: 0;
    margin-right: 0;
}

#master-password-wrapper {
    position: relative;
}

#master-password {
    padding-right: 30px;
}

#master-password-icon {
    position: absolute;
    right: 10px;
    top: 6px;
}

#password {
    text-align: center;
    cursor: auto;
}

@media (min-width: 768px) {
    #password-maker-form label {
        width: 160px;
    }
}
